

body {
  background-color: #333;
}

#dungeon-home {

  background-image: url(../hw-2/images-2/wall.jpg);
  font-family: "mont";
}


@font-face {
  font-family: "mont";
  src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "oswald";
  src: url("fonts/Oswald-Light.ttf");
}

@font-face {

  font-family: "old";
  src: url("fonts/old-font.ttf")
}


#name-container {
  font-family: "mont";
  background-color: white;
  text-align: center;
  padding: 45px;
  font-size: 200%;
}
/* State of Links */
.nav {
  text-align: center;

}

.nav-item{
  display: inline;
  font-family: "oswald";
  font-size: 200%;
  margin-right: 20px;
  margin-left:20px;
}

a:link {
  color: white;
  text-decoration: none;
}

 a:visited {
  color: pink;
}


a:hover {
  color: #444;
}

a:active {
  color: #777;

}

.dun-riddle {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "old";
  font-size: 300%;
  margin-top:  75px;
  padding-bottom:  25px;

}


/* End State of links*/
h2 {
  font-family: "mont";
  text-align: center;
}

@media (max-width: 500px) {
    #about-contain, #why-contain {
        font-size: 10pt;
    }
}

#about-contain, #why-contain {
  padding: 85px;
  font-family: "oswald";
  font-size: 150%;
  text-align: center;
  background-color: white;
  opacity: .8;

}

.quote-contain {
  text-align: center;

}

.quote {
  margin-top: 125px;
  font-size: 150%;
  color: #111;
  font-family: "oswald";
  font-weight: bolder;
  padding-left: 25px;
  padding-right: 25px;
  background: rgba(255,255,255,.45);
  display:inline-block;
}

@media (max-width: 100px) {
    .nav, .about-hero, .why-hero {
        min-height: 340px;
    }
}


.nav {

background-image: url("images/photo-1.jpg");


height: 100%;
min-height: 740px;
background-attachment: fixed;

background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.about-hero {

  background-image: url("images/photo-2.jpg");
  height: 100%;
  min-height: 740px;
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.why-hero {

  background-image: url("images/photo-3.jpg");
  height: 100%;
  min-height: 740px;
  background-attachment: fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
